body {
    padding: 0;
    margin: 0;
    background-image: url('./img/img-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    line-height: 30px;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

form {
    background-color: rgba(27, 27, 50, 0.8);
    padding: 30px 40px;

    font-family: 'Poppins', sans-serif;
    width: 50%;
    font-size: 20px;
    margin: auto;
    display: block;
    overflow: hidden;

}

label {
    display: block;
    
    font-size: 18px;
    font-weight: bolder;
}

label span {
    font-size: 14px;
    font-style: italic;
}

input, select {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;

}
textarea{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 3px;
}

input[type='radio'], input[type='checkbox'] {
    display: inline;
    width: 20px;
    height: 20px;
} 

.inlineInput {
    display: flex;
}

.inlineInput input {
    width: 50px;
}

button {
    text-align: center;
    padding: 10px;
   
    font-size: 18px;
    display: block;
   
    margin-right: 15px;
    color: aliceblue;
    width: 100%;
    background-color: #37af65;
}
option{
    font-size: 18px;
    padding: 10px;
}
.formContent{
    
    overflow: hidden;
}